<div class="grid grid-cols-4 gap-2 p-2">
  <div
    *ngFor="let id of numeros; let i = index"
    (click)="onclick(i)"
    class="w-full h-full bg-gray-200 rounded-lg border border-gray-300 flex justify-center items-center cursor-pointer relative"
    [class.pointer-events-none]="modoSoloLectura"
  >
    <img
      [src]="obtenerRuta(id)"
      alt="Carta"
      class="w-full h-full object-cover"
    />
    
    <img
      *ngIf="tieneFicha(i)"
      src="/cartas/Ficha.png"
      alt="Ficha"
      class="absolute inset-2 w-auto h-auto object-cover shadow-lg z-10" 
    />
  </div>
</div>